# Versions
LIBRENMS_VERSION=25.8.0
MARIADB_VERSION=12.0.2
REDIS_VERSION=8.1.3-alpine
MSMTPD_VERSION=1.8.30
OXIDIZED_VERSION=0.34.3
NETRONOME_VERSION=v0.6.0

# General
DOMAIN=example.com
PUID=1000
PGID=1000
TZ=Etc/UTC

# LibreNMS
DB_HOST=librenms-mariadb
DB_NAME=librenms
DB_USER=librenms
DB_PASSWORD=
DB_TIMEOUT=60
CACHE_DRIVER=redis
SESSION_DRIVER=redis
REDIS_HOST=librenms-redis
RRDCACHED_SERVER=librenms-rrdcached:42217

MEMORY_LIMIT=256M
MAX_INPUT_VARS=1000
UPLOAD_MAX_SIZE=16M
OPCACHE_MEM_SIZE=128
REAL_IP_FROM=0.0.0.0/0
REAL_IP_HEADER=X-Forwarded-For
LOG_IP_VAR=remote_addr

LIBRENMS_SNMP_COMMUNITY=librenms
LIBRENMS_WEATHERMAP=false
LIBRENMS_WEATHERMAP_SCHEDULE=*/5 * * * *

# LibreNMS MariaDB
MARIADB_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=$DB_NAME
MYSQL_USER=$DB_USER
MYSQL_PASSWORD=$DB_PASSWORD

# LibreNMS msmtpd
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_TLS=on
SMTP_STARTTLS=on
SMTP_TLS_CHECKCERT=on
SMTP_AUTH=on
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=admin@example.com

# LibreNMS rrdcached
LOG_LEVEL=LOG_INFO
WRITE_TIMEOUT=1800
WRITE_JITTER=1800
WRITE_THREADS=4
FLUSH_DEAD_DATA_INTERVAL=3600

# Oxidized
CONFIG_RELOAD_INTERVAL=86400
