# Versions
ADGUARDHOME_VERSION=v0.107.65
PDNS_AUTH_VERSION=4.9-alpine
PDNS_ADMIN_VERSION=0.4.1
MARIADB_VERSION=12.0.2
NETBOX_VERSION=4.4.0
POSTGRES_VERSION=17.6-alpine
REDIS_VERSION=8.1.3-alpine

# General
DOMAIN=example.com
PUID=1000
PGID=1000
TZ=Etc/UTC

# AdGuardHome

# PowerDNS Authoritative
PDNS_GMYSQL_HOST=pdns-mariadb
PDNS_GMYSQL_PASSWORD=
PDNS_API=yes
PDNS_API_KEY=
PDNS_WEBSERVER=yes
PDNS_WEBSERVER_ADDRESS=0.0.0.0
PDNS_WEBSERVER_ALLOW_FROM=0.0.0.0/0

# PowerDNS Admin
PDNS_ADMIN_SQLA_DB_HOST=pdns-mariadb
PDNS_ADMIN_SQLA_DB_PASSWORD=$PDNS_GMYSQL_PASSWORD
PDNS_ADMIN_SALT=
PDNS_API_URL=http://pdns-auth:8081/
PDNS_VERSION=

# PowerDNS MariaDB
MARIADB_ROOT_PASSWORD=$PDNS_ADMIN_SQLA_DB_PASSWORD

# Netbox
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=
ALLOWED_HOST=netbox.$DOMAIN
#BASE_PATH=
#REMOTE_AUTH_ENABLED=
#REMOTE_AUTH_BACKEND=
#REMOTE_AUTH_HEADER=
#REMOTE_AUTH_AUTO_CREATE_USER=
#REMOTE_AUTH_DEFAULT_GROUPS=
#REMOTE_AUTH_DEFAULT_PERMISSIONS=

# Netbox Postgres
DB_HOST=netbox-postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=

# Netbox Redis
REDIS_HOST=netbox-redis
REDIS_PASSWORD=
REDIS_DB_TASK=0
REDIS_DB_CACHE=1
